.scrollbar::-webkit-scrollbar { width: 5px; height: 5px; }
.scrollbar::-webkit-scrollbar-track { background: #ddd; }
.scrollbar::-webkit-scrollbar-thumb { background: #666; }
.scrollbar {
  height: calc(100vh - 80px)
}

.uk-light .uk-notification-message {
  background-color: #222 !important;
}

.uk-table-small td, .uk-table-small th {
  padding: 0px 5px
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important
}
[scroll-glue] {
  overflow-y: scroll;
}
.uk-text-small {
  line-height: 1.2;
}

.success { /* Success Badge */
  background-color: #32d296 !important;
  color: #fff !important;
}
.danger { /* Danger Badge */
  background-color: #f0506e !important;
  color: #fff !important;
}

table {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: 'Inconsolata', Courier, sans-serif;
  font-family: 'Roboto', sans-serif;
}

#chat {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: hsla(0, 0%, 100%, .95);
  line-height: 30px;
  font-size: 24px;
}

#inp {
  visibility:hidden;
}
#color-picker-wrapper {
  background-color:black;
  height:10px;
  width:10px;
  position:fixed;
  margin-top: 6px;
  margin-left: 1px;
}
